<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 id="plaTitle">Quora Posts</h1>

    <% for( post of posts ){ %>
    <div>
      <big>@<%= post.username %></big><br />
      <big class="space"><%= post.content %></big><br /><br />

      <a
        href="/posts/<%= post.id %>"
        class="addNewPost colour"
        >See in Details</a
      ><br />
      <a
        href="/posts/<%= post.id %>/edit"
        class="addNewPost colour"
        >Edit Post</a
      ><br />
      <form action="/posts/<%=post.id %>?_method=DELETE" method="post">
        <button id="deletePost">Delete Post</button>
      </form>
    </div>
    <% } %>

    <a
      href="/posts/new"
      class="addNewPost"
      id="hoverEffect"
      >Create new Post +</a
    >
  </body>
</html>